body {
    background-color: #fff1ff;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    font-size: 14px;
    padding: 5px 0;
    margin: 0 10px;
}

ol {
    list-style: none;
}

.list {
    width: 100%;
    flex: 1;
}

.filters {
    padding: 0 1rem 1.5rem 1rem;
}

#todo {
    width: 370px;
    min-height: 50vh;
    position: relative;
    margin: 100px auto;

    border: 3px solid #ffffff;
    border-radius: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_todo {

    border-radius: 10px;
    text-size-adjust: 20px;
    height: 25px;
    outline: 2px solid #ffffff;
}

.input_todo:focus {

    outline: 2px solid #e1bee7;
}

.todo_add,
.todo_all,
.todo_complete,
.todo_incomplete {
    border-radius: 10px;
    border: none;
    height: 25px;
    width: 70px;
    outline: 2px solid #e1bee7;
}

.todo_delete {
    all: unset;
    border: 1px solid #e1bee7;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    color: #ee98fb;

    text-align: center;
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -10px;
}


.todo_delete::after {
    /*삭제 버튼 내용 뒤에 엑스 표시 넣기*/
    font-family: "FontAwesome";
    content: " \f00d";
    font-weight: bold;
}




.todo_add:hover,
.todo_all:hover,
.todo_complete:hover,
.todo_incomplete:hover {
    background-color: #e1bee7;
}

.todo_content {

    all: unset;
    /*버튼 모양 없애기 유의점은 가장 처음에 써줘야함! 뒤에 쓰면 그 위의 스타일이 초기화됨. */
    color: #ee98fb;
    font-size: 16px;
    position: relative;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

}


.todo_content:hover {
    transition: 500ms;
    text-decoration: underline;
    text-decoration-color: #ee98fb;
}



.remove {
    transform: translateX(10px);
    transition: 250ms;
}


.complete button {
    color: #e6ceff;
}


.complete .todo_delete::after {
    font-family: "FontAwesome";
    content: "\f00c";
}